@import url("https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbGUwdUhpTnNjRmVCQk1rVU5BUWxXZUxVR2kzUXxBQ3Jtc0tucVZqRHl4UFhEc3NHY2RHQzRCVGRmRXd1M25IV05yNU9WdnpaYkU3Qjh2Yng4SG5pUlZDenA1SHB3YkMtUUNhdVFNczQzcVNuZGtjbFBsVTZtWU52eE90OEJLaURrVGR3OEFpNlpJc0lCcG81UFNIQQ&q=https%3A%2F%2Ffonts.google.com%2F%3Fquery%3DRacing%2BSans%2BOne&v=0mdjgQdQF1k");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff3700;
}

body {
  background: #000000;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
